{{#array-tabs}}
{{^html-tabpanel}}<article class="tabber__panel" id="{{tabpanelId}}" role="tabpanel" tabindex="0" aria-labelledby="{{tabId}}">{{{content}}}</article>{{/html-tabpanel}}
{{#html-tabpanel}}{{{.}}}{{/html-tabpanel}}
{{/array-tabs}}