<div {{{html-attributes}}}'>{{!
	}}<header class="tabber__header">{{!
		}}<button class="tabber__header__prev" aria-hidden="true"></button>{{!
			}}<nav class="tabber__tabs" role="tablist">{{!
				}}{{#array-tabs}}{{>TabberTab}}{{/array-tabs}}{{!
				}}{{#html-tabs}}{{{.}}}{{/html-tabs}}{{!
			}}</nav>{{!
		}}<button class="tabber__header__next" aria-hidden="true"></button>{{!
	}}</header>{{!
	}}<section class="tabber__section">{{>TabberTabpanel}}</section>{{!
}}</div>