<div {{#array-attributes}} {{key}}="{{{value}}}"{{/array-attributes}}>{{!
	}}<header class="tabber__header">{{!
		}}<button class="tabber__header__prev" tabindex="-1" type="button" aria-hidden="true"></button>{{!
		}}<nav class="tabber__tabs" role="tablist">{{!
			}}{{#array-tabs}}{{!
				}}<a class="tabber__tab" role="tab"{{#array-tab-attributes}} {{key}}="{{{value}}}"{{/array-tab-attributes}}>{{{label}}}</a>{{!
			}}{{/array-tabs}}{{!
		}}</nav>{{!
		}}<button class="tabber__header__next" tabindex="-1" type="button" aria-hidden="true"></button>{{!
	}}</header>{{!

	}}<section class="tabber__section">{{!
		}}{{#array-tabs}}{{!
			}}<article class="tabber__panel" role="tabpanel" tabindex="0" {{#array-tabpanel-attributes}} {{key}}="{{{value}}}"{{/array-tabpanel-attributes}}>{{{content}}}</article>{{!
		}}{{/array-tabs}}{{!
	}}</section>{{!
}}</div>
