/*!
 * VisualEditor UserInterface MWTabberDialog styles.
 *
 */

/* stylelint-disable selector-class-pattern */

@import 'mediawiki.skin.variables.less';

.ve-ui-mwTabberDialog-content .oo-ui-textInputWidget {
	max-width: none;
}

.ve-ui-mwTabberDialog-stickyHeader {
	position: sticky;
	z-index: @z-index-toolbar;
	top: 0;
	display: flex;
	align-items: center;
	border-bottom: @border-subtle;
	background: @background-color-neutral;
	padding-inline: @spacing-100 - 6px @spacing-100;

	> .oo-ui-buttonElement {
		margin-top: 4px; /* Align with tab label */
	}
}

.ve-ui-mwTabberDialog-tabSelectWrapper {
	overflow: auto hidden;
	min-width: 0;
	flex: 1;
	scroll-behavior: smooth;
	scrollbar-width: thin;
}

.ve-ui-mwTabberDialog-tabSelect {
	white-space: nowrap;
}

.ve-ui-mwTabberDialog-tabOption {
	overflow: hidden;
	max-width: 200px;
	flex-shrink: 0;
	text-overflow: ellipsis;
}

.ve-ui-mwTabberDialog-tabPanel-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.ve-ui-mwTabberDialog-tabPanel-title {
	font-size: @font-size-large;
	font-weight: @font-weight-bold;
}
